* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Header */
.header-content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.fa-bars {
  font-size: 32px;
  cursor: pointer;
}

/* Hero Section */
.hero-continer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #FEEAE9;
  border-radius: 15px;
}

.hero-content h2 {
  font-size: 45px;
  color: #1F1F1F;
}

.hero-content p {
  font-size: 16px;
  width: 90%;
  color: #4E4E4E;
}

.hero-content h3 {
  font-size: 38px;
  font-weight: 500;
  color: #FF136F;
}

#btn {
  background: linear-gradient(180deg, #FF589B 0%, #FF136F 100%);
  padding: 14px 30px;
  border: none;
  border-radius: 14px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.4s ease;
}

#btn:hover {
  transform: translateY(-6px) scale(1.07);
  background: white;
  color: black;
  border: 2px solid #FF136F;
}

/* Categories */
.Categories-continer {
  width: 90%;
  margin: auto;
  padding: 80px 0;
}

.heading {
  font-size: 36px;
  color: #1F1F1F;
  font-weight: 600;
}

.card-box {
  display: flex;
  gap: 20px;
}

.card {
  width: 33%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: 0.35s ease;
}

/* Hover Lift */
.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
}

.card h4 {
  color: white;
  font-size: 32px;
  font-weight: normal;
}

.card-1 { background-color: #FF9C35; }
.card-2 { background-color: #FF136F; }
.card-3 { background-color: #3F07F8; }

/* Product Section */
.product-continer {
  width: 90%;
  margin: auto;
  padding-bottom: 80px;
}

.product-box {
  display: flex;
  gap: 20px;
}

.product-card {
  width: 33%;
  padding: 20px;
  border: 1px solid #bbbbbb;
  border-radius: 15px;
  text-align: center;
  transition: 0.35s ease;
  margin-top: 20px;
}

/* Hover Lift */
.product-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
}

.product-card h4 {
  font-size: 24px;
  font-weight: 600;
}

.product-card p {
  font-size: 16px;
  color: #4E4E4E;
}

.product-card h5 {
  font-size: 24px;
  font-weight: 500;
}

/* Buy Button */
.btun {
  background: black;
  padding: 12px 28px;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.35s;
}

.btun:hover {
  background: white;
  color: black;
  border: 1px solid black;
  transform: translateY(-6px) scale(1.07);
}

/* CTA Section */
.cta-continer {
  width: 90%;
  margin: auto;
  background: #FFF2F1;
  padding: 80px 0;
  border-radius: 15px;
  margin-bottom: 100px;
}

.cta-content {
  text-align: center;
}

.cta-content h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: -10px;
}

.cta-content p {
  font-size: 16px;
  color: #707070;
}

.email-form input {
  background-color: white;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.email-form button {
  background: linear-gradient(180deg, #FF589B 0%, #FF136F 100%);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
    border: 2px solid#FF136F  ;

  transition: all 0.5s;
}
#emailbtn:hover{
  background: white;
  color: black;
  border: 1px solid#FF136F;
  transform: translateY(-6px) scale(1.07);
}

/* Laptop */
@media (max-width: 1200px) {
  .product-card h4 {
    font-size: 20px;
    color: #1F1F1F;
    font-weight: 600;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .header-content {
    width: 96%;
  }

  .hero-continer {
    width: 96%;
    flex-direction: column;
    justify-content: center;
  }

  .hero-content h2 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
    width: 100%;

  }

  .hero-content h3 {
    font-size: 28px;

  }

  .hero-image {
    text-align: center;
  }


  .Categories-continer {
    width: 96%;
  }

  .card-box {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .product-continer {
    width: 96%;
  }

  .product-box {
    gap: 10px;
  }

  .product-img {
    width: 100%;
    max-width: 290px;
  }

  .cta-continer {
    width: 96%;
  }

  .heading {
    font-size: 28px;
  }

  .cta-content h3 {
    font-size: 28px;
  }


}


/* Mobile */
@media (max-width: 640px) {
  .product-box {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
  }

  .hero-image img {
    width: 100%;
  }

  .hero-content h2 {
    font-size: 28px;
  }

  .heading {
    font-size: 24px;
  }

  .cta-content h3 {
    font-size: 24px;
  }
}

/* Mobile small */
@media (max-width: 320px) {}